<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div class="name">{{recipe.name}}</div>
            </div>
            <div class="right">
                 <img class="fast icon" src="iconCook.png">
            </div>
        </header>
        <figure id="art">
            <img src={{recipe.picture}} alt="Ramen japonais">
        </figure>
        <div id="specificities">
            <div class="specificity">
                <div class="main">
                    <div class="origine">
                        <img class="icon pays" src={{recipe.icon}}>
                    </div>
                    <div class="nameCountry">{{recipe.nameCountry}}</div>
                    <div class="note">{{recipe.note}}</div>
                </div>
                <div class="description">
                    {{recipe.description}}
                </div>
            </div>
        </div>
    </div>
</div>
